<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<%= form_for [ @project, ProjectUser.new] do |f|%>
<div>
  <%= f.text_field :email, required: true %>
</div>
  <%= f.submit %>
  <%end %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
